.material-icons#search-btn {
    cursor: pointer;
}
footer {
    padding: 50px;
    text-align: center;
    color: white;
}
tr.grey-text a.status-btn .material-icons {
    color: grey;
}
.card-panel {
    height: 180px;
  }