{% extends 'base.html' %}
{% block title %}Lista de tarefas {% endblock %}

{% block content %}
<div class="container">
  <h2>Lista de tarefas</h2>
  <div class="row">
    <div class="col s12">
      <div class="row">
        <div class="col s6">
          <a class="btn deep-purple" href="/newtask"><i class="material-icons">add</i> Nova Tarefa</a>
        </div>
      </div>

      <div class="row">
        <form id="search-form">
          <div class="input-field col s6">
            <input placeholder="Buscar tarefa" name="search" value="{{ request.GET.search }}" id="buscar" type="text"><i
              class="material-icons prefix" id="search-btn">search</i>
          </div>
          <div class="input-field col s6">
            <select name="filter" id="filter">
              <option value="" disabled selected>Filtrar por</option>
              <option value="done">Concluída</option>
              <option value="doing">A fazer</option>
            </select>
          </div>
        </form>
      </div>
    </div>
  </div>

  {% if messages %}
  <ul class="messages" flashes>
    {% for message in messages %}
    <script>M.toast({ html: '{{ message }}' })</script>
    <li {% if message.tags %} class="" {{message.tags}}"{% endif %}">{{message}}</li>
    {% endfor %}
  </ul>
  {% endif %}

  <div class="row">
    <table class="striped">
      <thead>
        <tr>
          <th>Tarefa</th>
          <th>Descrição</th>
          <th>Status</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        {% for task in tasks %}
        {% if task.done != 'doing' %}
        <tr class="grey-text">
          {% else %}
        <tr>
          {% endif %}
          <td>{{ task.title }}</td>
          <td>{{ task.description }}</td>
          <td>{{ task.done }}</td>
          <td>
            <a class="status-btn" title="Marcar como concluída" href="/changestatus/{{task.id}}"><i
                class="material-icons" id="check-btn">check</i></a>
            <a class="" title="Ver tarefa" href="/task/{{task.id}}"><i class="material-icons deep-purple-text"
                id="ver-btn">visibility</i></a>
            <a class="" title="Editar tarefa" href="/edit/{{task.id}}"><i class="material-icons amber-text"
                id="edit-btn">edit</i></a>
            <a class="delete-btn" title="Deletar tarefa" href="/delete/{{task.id}}"><i class="material-icons red-text"
                id="delete-btn">delete</i></a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="center">
    <ul class="pagination">
      {% if tasks.has_previous %}
      <li class="disabled"><a href="?page={{ tasks.previous_page_number }}"><i
            class="material-icons">chevron_left</i></a></li>
      {% endif %}

      {% if tasks.paginator.num_pages %}
      <li class="active"><a class="waves-effect" href="#!">{{ tasks.number }}</a>de <a
          href="">{{tasks.paginator.num_pages }}</a></li>
      {% endif %}
      {% if tasks.has_next %}
      <li class="waves-effect"><a href="?page={{ tasks.next_page_number }}"><i
            class="material-icons">chevron_right</i></a></li>
      {% endif %}
    </ul>
  </div>
</div>
{% endblock %}